<%= form_with(model: outfit, local: true) do |form| %>
  <% if outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Upload Image" %><br>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :work, class: "form-check-input" %>
    <%= form.label :work, class: "form-check-label" %>
    <p class="form-text text-muted">Is this outfit work appropriate?</p>
  </div>

  <div class="form-group">
    <%= form.label :formality %>
    <%= form.number_field :formality, class: "form-control", min: 1, max: 10, placeholder: "1 - 10" %>
    <p class="form-text text-muted">How fancy is this outfit?</p>
    <div class="range-wrapper">
      <input type="range" min="0" max="10" id="myRange"/>
    <div class="text">1</div>
    </div>
  </div>

  <div>
    <% @pieces.each do |piece| %>
    <span>
      <%= piece_check_box form: form, piece: piece %>
      <%= form.label "piece_ids_#{piece.id}", class: "form-check-label" do %>
        <% piece.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      <% end %>
    </span>
    <% end %>
  </div>

  <div class="actions mt-4">
    <%= form.submit class: "btn btn-success btn-lg mr-3" %>
    <%= link_to 'Cancel', outfits_path %>
  </div>
<% end %>
