<%= form_with(model: outfit, local: true) do |form| %>
  <% if outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Want to add pics of you in your full ensemble? Choose files below!" %><br>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="form-check mb-3">
    <%= form.radio_button :work, true, class: "form-check-input" %>
    <%= form.label :work, "I can wear this outfit to work", class: "form-check-label" %>
  </div>
  <div class="form-check mb-3">
    <%= form.radio_button :work, false, class: "form-check-input" %>
    <%= form.label :work, "I cannot wear this outfit to work", class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= form.label :formality, "Use the slider to show how fancy this outfit is from 1-10" %>
    <%= form.range_field :formality, class: "form-control range-wrapper", min: 1, max: 10, value: 5 %>
  </div>
    <div class="text">5</div>

  <button class="show-pieces btn btn-primary">Add Pieces</button>
  <div class="pieces">
    <% @pieces.each do |piece| %>
    <span>
      <%= piece_check_box form: form, piece: piece %>
      <%= form.label "piece_ids_#{piece.id}", class: "form-check-label" do %>
        <% piece.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      <% end %>
    </span>
    <% end %>
  </div>

  <div class="actions mt-4">
    <%= form.submit class: "btn btn-success btn-lg mr-3" %>
    <%= link_to 'Cancel', outfits_path %>
  </div>
<% end %>
