<h1>Editing Outfit</h1>


<div class="outfit-padding">
  <% @outfit.images.each do |image| %>
    <%= image_tag image %>
    <%= button_to "Delete Image", delete_image_piece_path(image_id: image.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>

<%= render 'form', outfit: @outfit %>

<%= link_to 'Show', @outfit %> |
<%= link_to 'Delete', @outfit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
