<p id="notice"><%= notice %></p>

<h1>Outfits</h1>
  <div>
    <% @outfits.each do |outfit| %>
        <h2><%= link_to outfit.name, outfit %></h2>
        <div>
            <div>
              <% if outfit.images.attached? %>
                <% outfit.images.each do |image|%>
                  <%= link_to image_tag(url_for(image)), outfit %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div>
            <div>
              <% outfit.pieces.each do |piece| %>
                <% piece.images. each do |image| %>
                  <%= link_to image_tag(image), outfit %>
                <% end %>  
              <% end %>
            </div>
        </div>
        <div><%= outfit.formality %></div>
        <div><%= outfit.work %></div>
    <% end %>
  </div>
