<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outfit.name %>
</p>

<p>
  <strong>Image:</strong>
  <% @outfit.outfit_photos.each do |outfit_photo| %>
    <div>
      <%= image_tag(outfit_photo.url) if outfit_photo.url.present? %>
    </div>
  <% end %>
</p>


<p>
  <strong>Formality:</strong>
  <%= @outfit.formality %>
</p>

<p>
  <strong>Work:</strong>
  <%= @outfit.work %>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
