<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
    <%= @outfit.name %>
</p>

<p>
  <strong>URL:</strong>
    <div>
      <%= image_tag(@outfit.url) if @outfit.url.present? %>
    </div>
</p>
<p>
  <strong>Uploaded Photo:</strong>
    <% @outfit.images.each do |image| %>
      <div>
        <%= image_tag image %>
      </div>
    <% end %>
</p>

<p>
  <strong>Formality:</strong>
    <%= @outfit.formality %>
</p>

<p>
  <strong>Work:</strong>
    <%= @outfit.work %>
</p>

<p>
  <strong>Pieces:</strong>
  <% @outfit.pieces.each do |piece| %>
    <% piece.images. each do |image| %>
      <%= image_tag image %>
    <% end %>  
  <% end %>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
