<%= render 'header' %>

<div class='row'>
  <div class='col-12 col-md-6'>
    <%= link_to_unless_current image_tag_for(@outfit, class: 'mb-3'), @outfit %>
  </div><!-- .col -->

  <div class='col-12 col-md-6'>
    <% if @outfit.images.length > 1 %>
      <% @outfit.images[1..-1].in_groups_of(4).each do |group| %>
        <div class='row mb-4'>
          <% group.each do |image| %>

            <div class='col-6 col-md-3'>
              <% if image.present? %>
                <%= link_to_unless_current image_tag(image), @outfit %>
              <% end %>
            </div><!-- .col -->

          <% end %>
        </div><!-- .row -->
      <% end %>
    <% end %>

    <h2 class='font-weight-light'><%= @outfit.name %></h2>

    <div class='mb-5'>
      <p>
        <span class='badge badge-light border p-2'>
          ðŸ‘—
          <b><%= @outfit.formality %></b><span class='text-muted font-weight-light'> / 10 formal</span>
        </span>

        <span>
          <span class='badge badge-light border p-2 font-weight-light'>
            <%= @outfit.work? ? 'âœ…' : 'ðŸš« Not' %>

            Work Appropriate
          </span>
        </span>
      </p>

      <% if @outfit.tags.present? %>
        <p>
          <% @outfit.tags.each do |tag| %>
            <%= link_to tag.name, tag, class: 'badge badge-secondary' %>
          <% end %>
        </p>
      <% end %>

      <p>
        <%= link_to 'âœï¸ Edit outfit details', edit_outfit_path(@outfit), class: 'btn btn-sm btn-outline-info mb-2' %>
      </p>
    </div>

    <% if @outfit.pieces.present? %>
      <div class="card border-secondary">
        <div class="card-header">Pieces used in this outfit</div>

        <div class="card-body">
          <% @outfit.pieces.in_groups_of(4).each_with_index do |group, index| %>
            <div class="row <%= 'mb-3' unless index.zero? %>">
              <% group.each do |piece| %>

                <div class="col-3">
                  <% if piece.present? %>
                    <%= link_to image_tag_for(piece), piece %>
                  <% end %>
                </div><!-- .col -->

              <% end %>
            </div><!-- .row -->
          <% end %>
        </div><!-- .card-body -->
      </div><!-- .card-header -->
    <% end %>

  </div><!-- .col -->
</div><!-- .row -->
