<p id="notice"><%= notice %></p>

<p>
    <h2><%= @outfit.name %></h2>
</p>
<p>
    <% @outfit.images.each do |image| %>
      <div>
        <%= image_tag(image, class: 'outfit-in-outfit') %>
      </div>
    <% end %>
</p>

<p>
    <%= @outfit.formality %>
</p>

<div>
    <%= "#{"Not" unless @outfit.work} Work Appropriate" %>
</div>

<p>
  <% @outfit.pieces.each do |piece| %>
      <%= image_tag(piece.images.first, class: 'piece-in-outfit') %>
  <% end %>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit), class: 'btn btn-primary' %>
