<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outfit.name %>
</p>

<p>
  <strong>Image:</strong>
  <% @outfit.photos.each do |photo| %>
    <div>
      <%= image_tag(photo.url) if photo.url.present? %>
      <%#= image_tag(url_for photo.image) if photo.image.present? %>
    </div>
  <% end %>
</p>


<p>
  <strong>Formality:</strong>
  <%= @outfit.formality %>
</p>

<p>
  <strong>Work:</strong>
  <%= @outfit.work %>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
