<h1 class='font-weight-light'>
  <%= @outfit.name %>
</h1>

<p>
  <% @outfit.images.each do |image| %>
    <div>
      <%= image_tag(image, class: 'outfit-in-outfit') %>
    </div>
  <% end %>
</p>

<p>
  <%= @outfit.formality %>
</p>

<div>
  <%= "#{"Not" unless @outfit.work} Work Appropriate" %>
</div>

<p>
  <% @outfit.pieces.each do |piece| %>
    <%= link_to image_tag(piece.images.first, class: 'piece-in-outfit'), piece %>
  <% end %>
</p>

<div>
  <% @outfit.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</div>
<%= link_to 'Edit', edit_outfit_path(@outfit), class: 'btn btn-primary' %>
