<%= form_with(model: piece, local: true) do |form| %>
  <% if piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :images, "Uploaded Image" %><br>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions mt-4">
    <%= form.submit class: "btn btn-success btn-lg mr-3" %>
    <%= link_to 'Cancel', pieces_path %>
  </div>
<% end %>
