<h1>Editing Piece</h1>

<%= render 'form', piece: @piece %>

<% @piece.images.each do |image| %>
  <%= image_tag image %>
  <%= button_to "delete", delete_image_piece_path(image_id: image.id), method: :delete %>
<% end %>


<%= link_to 'Show', @piece %> |
<%= link_to 'Delete', @piece, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
