<p id="notice"><%= notice %></p>

<h1>Pieces</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pieces.each do |piece| %>
      <tr>
        <td><%= piece.name %></td>
        <td>
            <div>
              <%= piece.url %>
            </div>
        </td>
        <td>
        <% if piece.image.attached? %>
        <%= image_tag(url_for(piece.image)) %>
        <% end %>
        </td>
        <td><%= link_to 'Show', piece %></td>
        <td><%= link_to 'Edit', edit_piece_path(piece) %></td>
        <td><%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
