<p id="notice"><%= notice %></p>

<h1>Pieces</h1>

<span>
  <%= link_to 'Create New Piece', new_piece_path %>
</span>

  <div>
    <% @pieces.each do |piece| %>
      <div class="pieces-padding mb-5">
        <h2><%= link_to piece.name, piece %></h2>
        <div>
          <% if piece.images.attached? %>
            <% piece.images.each do |image|%>
              <%= link_to image_tag(url_for(image)), piece %>
            <% end %>
          <% end %>
        </div>
          <div>
            <% piece.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
