<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece.name %>
</p>

<p>
  <strong>URL:</strong>
  <% @piece.piece_photos.each do |piece_photo| %>
    <div>
      <%= image_tag(piece_photo.url) if piece_photo.url.present? %>
    </div>
  <% end %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(url_for @piece.image) %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
