<p id="notice"><%= notice %></p>

<h1>Wishlist</h1>

<span>
  <%= link_to 'Create New Wishlist Item', new_wishlist_path%>
</span>

<div>
  <div>
    <% @wishlists.each do |wishlist| %>
      <div>
        <div>
          <% if wishlist.url.present? %>
            <%= link_to(image_tag(wishlist.url), wishlist) %>
          <% end %>
        </div>
        <div><%= link_to auto_link(simple_format(wishlist.product_url), :all, target: :blank) %></div>
        <div><%= wishlist.notes %></div>
        <div>
          <% wishlist.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>