<p>
  <strong>URL:</strong>
    <div>
      <%= image_tag(@wishlist.url) if @wishlist.url.present? %>
    </div>
</p>
<p>
  <strong>Product URL:</strong>
    <div>
      <%= h auto_link(simple_format(@wishlist.product_url)) %>
    </div>
</p>
<p>
  <strong>Notes:</strong>
    <div>
      <%= @wishlist.notes %>
    </div>
</p>

<div>
  <% @wishlist.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</div>

<%= link_to 'Edit', edit_wishlist_path(@wishlist), class: 'btn btn-primary' %>
