<% if current_user %>
  <p>
    Welcome, <%= current_user.user_name %>.<br>
    <%= link_to "Let’s find the perfect outfit for you", new_piece_path %>
  </p>

  <h1>Closet</h1>
    <div class='row mb-5'>
      <% @items.in_groups_of(4).each do |group| %>
        <% group.each do |item| %>
          <div class='col-12 col-md-3'>
            <% if item.present? %>
              <%= link_to image_tag_for(item), item %>
            <% end %>
          </div> <!--.col-->
        <% end %>
      <% end %>
    </div><!--.row-->

<% else %>

  <div class="my-5 text-center">
    <h1><%= link_to_unless_current "DressMe", root_path %></h1>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
    <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
  </div>

<% end %>
