<% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <b><%= link_to_unless_current "DressMe", root_path %></b>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Pieces", pieces_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Outfits", outfits_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Wishlist", wishlists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Piece', new_piece_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Outfit', new_outfit_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Wishlist Item', new_wishlist_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Closet", photos_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
