<!DOCTYPE html>
<html>
  <head>
    <title>DressMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
          <div class="jumbotron">
            <h1 class="display-4"><%= link_to "DressMe", root_path %></h1>
            <p class="lead">Welcome, <%= current_user.user_name %>.</br>Let's find the perfect outfit for you.</p>
            <hr class="my-4">
            <%= link_to "Log Out", logout_path %>
            <button type="button" class="btn btn-primary"><%= link_to "Pieces", pieces_path %></button>
            <button type="button" class="btn btn-primary"><%= link_to "Outfits", outfits_path %></button>
            <button type="button" class="btn btn-primary"><%= link_to "Photos", photos_path %></button>
          </div>
      <% else %>
        <div class="jumbotron">
          <h1 class="display-4"><%= link_to "DressMe", root_path %></h1>
          <p class="lead">What would you like to wear today?</p>
          <hr class="my-4">
          <button type="button" class="btn btn-primary"><%= link_to "Sign Up", signup_path %></button>
          <button type="button" class="btn btn-primary"><%= link_to "Log In", login_path %></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
